
.app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.notes-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
}


.sidebar {
  position: relative;
  width: 300px;
  background: #f4f4f4;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}


.group-list {
  flex: 1;
  overflow-y: auto;
}

.group-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 6px;
  transition: background 0.2s;
}

.group-item.active {
  background-color: #e0e0e0;
}

.group-name {
  margin-left: 10px;
  font-weight: 500;
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}


.add-group-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  border: none;
  cursor: pointer;
  background-color: hsl(223, 75%, 19%);
  color: #fff;
}


.notes-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  height: 100vh;
}


.notes-header {
  position: sticky;
  top: 0;
  background: #0a2fa4;
  color: white;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.notes-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}


.note-card {
  background: white;
  padding: 14px;
  border-radius: 6px;
  margin-bottom: 12px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.note-time {
  font-size: 12px;
  color: #666;
  position: absolute;
  right: 12px;
  bottom: 8px;
}


.notes-input {
  position: sticky;
  bottom: 0;
  background: #0a2fa4;
  padding: 12px;
  display: flex;
  gap: 10px;
}

.notes-input textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  border-radius: 6px;
  border: none;
  height: 60px;
  font-size: 14px;
}

.send {
  background: white;
  border: none;
  color: rgb(165, 164, 164);
  padding: 0 16px;
  border-radius: 6px;
  cursor: not-allowed;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send.active {
  background: #1da1f2;
  cursor: pointer;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px 20px 70px 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  position: relative;
  z-index: 1001;
  animation: fadeIn 0.2s ease-in-out;
}

.createbtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 8px 18px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  background: #16098a;
  color: white;
  cursor: not-allowed;
}

.createbtn.active {
  background: #1da1f2;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}


.color-picker {
  display: flex;
  gap: 10px;
  margin: 12px 0;
}

.color-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-circle.active {
  border: 2px solid #000;
}


.empty-state {
  flex: 1;
  background: #dae5f5 url("../public/notes-pic.png") no-repeat center center;
  position: relative;
  background-size: 350px;
  background-position: center  ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.empty-content {
  margin-top: 240px; 
}

.empty-state h2 {
  font-size: 36px;
  margin: 10px 0;
}

.empty-state p {
  color: #555;
  font-size: 16px;
  max-width: 500px;
  line-height: 1.5;
}

.encrypted {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #555;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: 100vh;
  }

  .notes-container {
    width: 100%;
    height: 100vh;
  }

  .notes-page {
    height: 100vh;
  }

  .back-btn {
  background: none;
  border: none;
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
  color: white;
}

}
